/* body { margin: 0; padding: 0; } */
#map {
  /* top: 0;  */
  /* bottom: 0; */
  min-width: 100%; 
  height: 175px;
  top: 0;
}

html, body {
  min-height: 100%;
}

body {
  background-image: url("https://i.ibb.co/7Cjdr7B/IMG-0283.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Comfortaa', cursive;
}
div {
  min-width: 100%;
}
.search-section, .species-main, .species-profile div{
  /* width: 75%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: auto;
  height: auto;
  max-width: 100%;
}

button:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), -3px -3px 3px rgba(0, 0, 0, .17), -3px 3px 3px rgba(0, 0, 0, 0.2), 3px -3px 3px rgba(0, 0, 0, 0.17), -3px -3px 3px rgba(0, 0, 0, 0.2), 3px 3px -3px rgba(0, 0, 0, 0.17);
}

a:link {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  text-shadow: 1em 2em 1em black;
}

a:visited {
  color: rgba(165, 86, 7, 0.735)
}

a:hover {
  color: steelblue;
  border: 2px;
}

section {
  /* align-content: stretch; */
  display: flex;
  left: auto;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  /* flex-basis: auto; */
  /* overflow: hidden; */
  /* max-width: 50%; */
  /* width: 80%; */
}

img {
  /* flex-basis: auto; */
  /* max-height: 50%; */
  /* display: block; */
  left: auto;
  max-width: 100%;
  height: auto;
  /* width: auto; */
  border-radius: 14px 35px 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .42), -4px -4px 4px rgba(0, 0, 0, .32);
}

.moreInfo {
  height: 0;
  position: fixed;
  opacity: 0;
  background-color:rgba(15, 71, 130, 0.31);
  overflow: hidden;
  max-width: 500px;
}

.infoText {
  /* white-space: nowrap; */
  color:rgba(0, 0, 0, 0.8);
  top: 80%;
  overflow: hidden;
  font-size: 2em;
  /* transform: translate(50%); */
  text-shadow: 4px 3px 2px black;
}

.species-profile:hover .moreInfo {
  max-height: 80%;
  height: 35%;
  opacity: 100%;
  width: 80%;
  transition: .5s ease;
}

#blank {
  background-blend-mode: lighten;
  /* background: rgba(253, 209, 128, 0.51); */
  background-image: url("https://i.ibb.co/7Cjdr7B/IMG-0283.jpg");
  opacity: 40%;
}

.coordinates {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: relative;
  bottom: 80px;
  left: 30px;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
  width: 190px;
  }

@media only screen and (min-width: 720px) {
  img {max-height: 850px;}
  #map {height: 250px;}
}